body {
  font-family: Montserrat, sans-serif;
  background-color: #f0f0f0;
}

#mainImg{
  width: 70%;
  border: 5px solid #1b3056;
}

#logo2{
width: 200px;
  margin-right: 7%;
}

figure{
  margin-right: 2%;
}


figcaption{
  text-align: center;
}

.contactInfo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.lg{
  display: flex;
  flex-direction: row-reverse;
}

#header, #highlight{
  color: #284377;
  font-weight:600;
  margin-top: 2%;
}

.navbar-brand{
  font-weight:500;
}

footer{
  background-color: #284377;
  color:white;
}

.text{
  font-size: 19px;
  margin-top: 2%;
}

.creditAlign{
  text-align: center;
}

#contact{
  width:80%;
}

.navbar{
  background-color: #284377;
}

.mainMargin{
  width: 75%;
  margin: auto;
  margin-bottom: 2%;
}

#visual{
  width: 100%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#contamination{
  width: 70%;
}

.myNav{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  width: 100%;
  margin-top: 2%;
}

.myNavbar {
  overflow: hidden;
  background-color: #1b3056;
  color: white;
  font-size: 18px;
  width: 25%;
  padding: 15px;
  text-align: center;
}

.myNavbar:nth-of-type(even){
  background-color: #243e6e;
}

.myNavbar a {
  font-size: 18px;
  color: white;

  text-align: center;
}

.myNavbar:hover{
  background-color: #1b3056d2;
}

.links{
  font-weight: bold;
}

@media screen and (max-width: 1220px){
  .mainMargin{
    width:95%;
  }
}




